.networkMenu {
  border: 0px !important;
  margin-top: 10px !important;
}

.menuBody {
  background-color: #48494F !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItem {
  color: #fff !important;
  padding-left: 51px !important;
  padding-right: 51px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 14px !important;
  margin-bottom: 5px !important;
  border-radius: 4px !important;
}

.listItem:last-child {
  margin-bottom: 0px;
}

.listItem:hover {
  background-color: rgb(162, 108, 25) !important;
}