.side-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-right: 10px;
}

.side-item {
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 0.5rem;
  color: #f759ab;
  height: 2.5rem;
  align-items: center;
  font-weight: 500;
  margin-bottom: 4px;
}

.side-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.selected {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-section {
  margin-bottom: 1rem;
}

.sidebar-section h1 {
  font-weight: 600;
}

.output {
  margin-left: 10px;
}
