.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

button {
  font-size: large;
}

.items {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.itemblock {
  width: 100%;
  text-align: left;
  overflow-x: scroll;
}

.header-section {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  height: 75px;
}

.logo {
  height: 30px;
}

.logo-title {
  height: 30px;
  margin-bottom: 14px;
  font-weight: 600;
  margin-left: 10px;
}